데이터셋 : scikit-learn 의 load_diabetes 활용

학습방법 : 지도학습 -> 회귀

알고리즘 : KNNRegressor

feature 여러개 중 선택해서 
- 연관성 높은 것 선택

In [1]:
from sklearn.datasets import load_diabetes
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# default : ndarray로 반환 
# 반환값 : bunch 객체로 dict와 유사
data_dict = load_diabetes() 
data_dict.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [6]:
# DataFrame 형태로 반환 
# 반환값 : bunch 객체로 dict와 유사
data_df = load_diabetes(as_frame=True) # default : ndarray로 반환 
data_df.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [7]:
# default : ndarray로 반환 
# 반환값 : bunch 객체로 dict와 유사

data, target = load_diabetes(return_X_y=True)
type(data)

numpy.ndarray

In [8]:
# default : ndarray로 반환 
# 반환값 : bunch 객체로 dict와 유사

data, target = load_diabetes(as_frame=True,return_X_y=True)
type(data)

pandas.core.frame.DataFrame

In [9]:
data # 기본적으로 scaled 돼서 들어옴

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

## 1. 데이터 준비

In [12]:
# 스케일링 안 하고 load 

data_not_scaled, target_not_scaled = load_diabetes(as_frame=True,return_X_y=True, scaled=False)
type(data_not_scaled)

pandas.core.frame.DataFrame

In [13]:
data_not_scaled

      age  sex   bmi      bp     s1     s2    s3    s4      s5     s6
0    59.0  2.0  32.1  101.00  157.0   93.2  38.0  4.00  4.8598   87.0
1    48.0  1.0  21.6   87.00  183.0  103.2  70.0  3.00  3.8918   69.0
2    72.0  2.0  30.5   93.00  156.0   93.6  41.0  4.00  4.6728   85.0
3    24.0  1.0  25.3   84.00  198.0  131.4  40.0  5.00  4.8903   89.0
4    50.0  1.0  23.0  101.00  192.0  125.4  52.0  4.00  4.2905   80.0
..    ...  ...   ...     ...    ...    ...   ...   ...     ...    ...
437  60.0  2.0  28.2  112.00  185.0  113.8  42.0  4.00  4.9836   93.0
438  47.0  2.0  24.9   75.00  225.0  166.0  42.0  5.00  4.4427  102.0
439  60.0  2.0  24.9   99.67  162.0  106.6  43.0  3.77  4.1271   95.0
440  36.0  1.0  30.0   95.00  201.0  125.2  42.0  4.79  5.1299   85.0
441  36.0  1.0  19.6   71.00  250.0  133.2  97.0  3.00  4.5951   92.0

[442 rows x 10 columns]

age age in years

sex

bmi body mass index

bp average blood pressure : 평균 혈압

s1 tc, total serum cholesterol : 총 혈청콜레스테롤

s2 ldl, low-density lipoproteins : 저밀도 단백질 -> bad

s3 hdl, high-density lipoproteins : 고밀도 단백질 -> goooood

s4 tch, total cholesterol / HDL : 총 콜레스테롤 / 고밀도 콜레스테롤 

s5 ltg, possibly log of serum triglycerides level : 혈청 트리글리세리드 (지방) 수치 로그

s6 glu, blood sugar level : 혈당치

In [14]:
data_not_scaled.corr()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
age,1.000000,0.173737,0.185085,0.335428,0.260061,0.219243,-0.075181,0.203841,0.270774,0.301731
sex,0.173737,1.000000,0.088161,0.241010,0.035277,0.142637,-0.379090,0.332115,0.149916,0.208133
bmi,0.185085,0.088161,1.000000,0.395411,0.249777,0.261170,-0.366811,0.413807,0.446157,0.388680
bp,0.335428,0.241010,0.395411,1.000000,0.242464,0.185548,-0.178762,0.257650,0.393480,0.390430
s1,0.260061,0.035277,0.249777,0.242464,1.000000,0.896663,0.051519,0.542207,0.515503,0.325717
s2,0.219243,0.142637,0.261170,0.185548,0.896663,1.000000,-0.196455,0.659817,0.318357,0.290600
s3,-0.075181,-0.379090,-0.366811,-0.178762,0.051519,-0.196455,1.000000,-0.738493,-0.398577,-0.273697
s4,0.203841,0.332115,0.413807,0.257650,0.542207,0.659817,-0.738493,1.000000,0.617859,0.417212
s5,0.270774,0.149916,0.446157,0.393480,0.515503,0.318357,-0.398577,0.617859,1.000000,0.464669
s6,0.301731,0.208133,0.388680,0.390430,0.325717,0.290600,-0.273697,0.417212,0.464669,1.000000

상관계수가 가장 높은 s4, s5, bp를 feature, s6을 target으로 사용

In [18]:
data_not_scaled[['bp','s4','s5','bmi']].corr()

           bp        s4        s5       bmi
bp   1.000000  0.257650  0.393480  0.395411
s4   0.257650  1.000000  0.617859  0.413807
s5   0.393480  0.617859  1.000000  0.446157
bmi  0.395411  0.413807  0.446157  1.000000

feature들 중 s4와 s5의 상관관계가 높으므로 s4 제외

## [2] 피쳐/타겟 분류

In [ ]:
# 상관계수가 가장 높은 s4, s5, bp를 feature, s6을 target으로 사용

feature = data_not_scaled[['bp','s4','s5']]