# 클래스와 인스턴스

In [16]:
# 임시 데이터 생성 
import random
data = []

random.seed(10)
for _ in range(30):
    data.append([random.randint(1,50)])

In [17]:
data

[[37],
 [3],
 [28],
 [31],
 [37],
 [1],
 [14],
 [30],
 [32],
 [18],
 [42],
 [11],
 [3],
 [34],
 [32],
 [21],
 [5],
 [16],
 [48],
 [24],
 [3],
 [27],
 [9],
 [39],
 [23],
 [25],
 [27],
 [19],
 [44],
 [17]]

In [18]:
# 스케일러에서 fit()시에 진행
min(data), max(data)

([1], [48])

In [19]:
max(data)[0]

48

In [20]:
# 스케일러에서 transform()시에 0 ~ 1 사이 값으로 전부 변환 
result = [d[0]/max(data)[0] for d in data]

# 이미지에서는 최대값으로 나누는 것 사용
# - 이미지에는 음수가 없으므로

inverse_tranform 사용하면 scaled된 것을 다시 돌려줌

In [21]:
min(result), max(result)

(0.020833333333333332, 1.0)