In [1]:
import pandas as pd

In [2]:
img=pd.read_csv('images.csv')
category=pd.read_csv('styles.csv')

In [3]:
type(img['filename'][0])

str

In [4]:
id=[]
for i in img['filename']:
    a=i.replace('.jpg', '')
    id.append(a)
img['id']=id

In [5]:
img.head(3)

    filename                                               link     id
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...  15970
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...  39386
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...  59263

In [6]:
img.info(), category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  44446 non-null  object
 1   link      44446 non-null  object
 2   id        44446 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  object
 6   season              44425 non-null  object
 7   year                44445 non-null  float64
 8   usage               44129 non-null  object
 9   productDisplayName  44439 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

(None, None)

In [7]:
fashionDF= pd.concat([img, category], axis=1)

In [8]:
fashionDF.iloc[1231]

filename                                                       5898.jpg
link                  http://assets.myntassets.com/v1/images/style/p...
id                                                                 5898
id                                                                 5898
gender                                                              Men
masterCategory                                                 Footwear
subCategory                                                       Shoes
articleType                                                Casual Shoes
baseColour                                                         Blue
season                                                           Summer
year                                                             2011.0
usage                                                            Casual
productDisplayName                       Puma Men Tekkies Jam Blue Shoe
Name: 1231, dtype: object

In [9]:
fashionDF=fashionDF[['filename', 'link', 'subCategory']]

In [10]:
fashionDF.head(10)

    filename                                               link subCategory
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...  Bottomwear
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...     Watches
3  21379.jpg  http://assets.myntassets.com/v1/images/style/p...  Bottomwear
4  53759.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
5   1855.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
6  30805.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
7  26960.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
8  29114.jpg  http://assets.myntassets.com/v1/images/style/p...       Socks
9  30039.jpg  http://assets.myntassets.com/v1/images/style/p...     Watches

In [11]:
id=[]
for i in img['filename']:
    a=i.replace('.jpg', '')
    id.append(a)
fashionDF['id']=id

In [12]:
fashionDF.drop(columns='filename')

                                                    link subCategory     id
0      http://assets.myntassets.com/v1/images/style/p...     Topwear  15970
1      http://assets.myntassets.com/v1/images/style/p...  Bottomwear  39386
2      http://assets.myntassets.com/v1/images/style/p...     Watches  59263
3      http://assets.myntassets.com/v1/images/style/p...  Bottomwear  21379
4      http://assets.myntassets.com/v1/images/style/p...     Topwear  53759
...                                                  ...         ...    ...
44441  http://assets.myntassets.com/v1/images/style/p...       Shoes  17036
44442  http://assets.myntassets.com/v1/images/style/p...  Flip Flops   6461
44443  http://assets.myntassets.com/v1/images/style/p...     Topwear  18842
44444  http://assets.myntassets.com/v1/images/style/p...   Fragrance  46694
44445  http://assets.myntassets.com/assets/images/516...     Watches  51623

[44446 rows x 3 columns]