In [29]:
import pandas as pd

In [30]:
file1 ='test_data3.csv'

In [31]:
df1 = pd.read_csv(file1)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [32]:
# [4] 데이터 추출
# [4-1] 대구관련 데이터만 추출
df1[df1['col1'] =='대구']

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [33]:
# [4-2] index와 col1컬럼을 행 인덱스 설정
df2 = df1.set_index(['index','col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [34]:
# 인덱스 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]], dtype=int64))

In [35]:
# 2020년도 대구 데이터 추출
df2.loc[(2020,'대구')]=[9,9]
df2

C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\4088914043.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'대구')]=[9,9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      12    23

In [36]:
# 2021년도 대구 데이터 추출
df2.loc[(2021,'대구')] = [3,3]
df2

C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\139358392.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2021,'대구')] = [3,3]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구       3     3
      대구       3     3

In [37]:
# 행추가 => (년도, 지역명)
# df2.loc[(2022,'부산')]=0  ,:  
# ==> 안하면 지역명 열이 추가되고 그 자리만 값설정되고 나머지는 NaN이됨 ==> 2022행, 부산 열이 새로 생성
df2.loc[(2022,'부산'),:]=0

C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\1905791568.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'부산'),:]=0

In [38]:
df2.loc[(2022,'마산'),:] = [3,4]

C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\2000627152.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'),:] = [3,4]
C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\2000627152.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'),:] = [3,4]

In [39]:
df2.loc[(2022,'울산'),:] = pd.Series({'col2':8,'col3':8})
# iterable하지 않아서 에러 발생

C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\1093178463.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'),:] = pd.Series({'col2':8,'col3':8})
C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\1093178463.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'),:] = pd.Series({'col2':8,'col3':8})

ValueError: Must have equal len keys and value when setting with an iterable

In [40]:
df2.loc[(2022,'경산'),:] = [pd.Series({'col2':8,'col3':8})]
# iterable하게 리스트로 해야 함

C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\1220568836.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:] = [pd.Series({'col2':8,'col3':8})]
C:\Users\KDP-35\AppData\Local\Temp\ipykernel_3996\1220568836.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:] = [pd.Series({'col2':8,'col3':8})]

In [41]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     NaN   NaN
      경산     8.0   8.0